
@{
    ViewBag.Title = "ajax";
}

<h2>ajax</h2>



<div class="row">
    <div class="col-md-4">
        <h3>Using JSON display a Object</h3>
        <a href="#" class="displayuser">Display Object</a>
        <br />
        <div id="result3"></div>

    </div>
</div>
<script>

    $('.displayuser').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            contentTyoe: 'application/json',
            url: '@Url.Action("DisplayUser", "Home")',
            success: function (result) {
                var s = '';
                for (var i = 0; i < result.length; i++)
                    s += '<br>ID: ' + result[i].UserID + '<br>Email: ' +
                    result[i].UserEmail + '<br>Password: ' + result[i].Password + '<br>Password: ' +
                    '<br>First Name: ' + result[i].FirstName + '<br>Last Name: ' + result[i].LastName +
                    '<br>================='
                $('#result3').html(s);
            }
        });
    });
</script>

   
